@import '../../../styles/variables';
@import '../../../styles/mixins';

.issue-row {
  list-style-type: none;
  border-top: $border-normal;

  .data-table {
    display: table;
    table-layout: fixed;
    width: 100%;

    .column {
      padding-top: 8px;
    }

    .issue-state-icon {
      float: left;
      padding-left: 16px;

      .open.octicon {
        color: $green-1;
      }
    }

    .issue-title {
      float: left;
      width: 75%;
      padding: 8px;
      line-height: 1.25;

      .title-text {
        color: $gray-4;
        font-size: 16px;
        font-weight: $font-weight-bold;
        margin-left: 2px;
        margin-right: 2px;
      }

      .opened-by {
        font-size: 12px;
        color: $gray-3;
      }
    }

    .user-comments {
      width: 16%;
      float: right;

      .avatar {
        float: left;
        width: 58%;
        text-align: right;
        padding-right: 16px;
      }

      .comments {
        float: right;
        width: 42%;
        text-align: right;
        padding-right: 16px;

        a {
          color: $gray-3;
          text-decoration: none;

          &:hover {
            color: $text-blue !important;
          }

          .octicon {
            vertical-align: middle;
          }

          .count {
            font-size: 12px;
            font-weight: 600;
            margin-left: 4px;
          }
        }
      }
    }
  }
  @include clearfix;
}
