@import '../../../styles/variables';
@import '../../../styles/mixins';
@import './variables';

.issue-list-header {
  position: relative;
  margin-top: $ilh-margin-top;
  padding-left: $ilh-padding-left;
  background-color: $gray-1;
  border: $border-normal;
  border-radius: $ilh-border-radius;
  @include clearfix;

  .btn-link {
    position: relative;
    display: inline-block;
    padding-top: $ilh-btn-link-padding;
    padding-bottom: $ilh-btn-link-padding;
    font-weight: normal;
    color: $gray-3;
    &.selected {
      color: $gray-4;
      font-weight: $font-weight-bold;
    }
    &+.btn-link {
      margin-left: $ilh-btn-link-margin-left;
    }

    .octicon {
      margin-right: 2px;
    }
  }
}
