@import '../../../styles/variables';

.issue-list {
  /* 첫 번째 열은 list-header와 선이 겹치므로 1px 위로 올려준다. */
  margin-top: -1px;
  border-left: $border-normal;
  border-right: $border-normal;
  border-bottom: $border-normal;
}
